<style>
  * {
   font-family: 'Montserrat', sans-serif;
  }
  ::selection {
    color: white;
    background-color: red;
  }
  body {
    background-color: #ededed;
  }
  #nav {
    height: 100px;
    background-color: white;
  }
  #nav h3 {
    color: red;
    float: left;
    margin-top: 35px;
    margin-left: 10px;
  }
  #logo {
    width: 100px;
    height: 100px;
    float: left;
    transition: 0.6s ease;
  }
  #logo:hover {
    filter: grayscale(100%);
  }
  ul {
    list-style-type: none;
    float: right;
    margin-top: 35px;
    margin-right: 25px;
  }
  ul li {
    display: inline-block;
  }
  ul li a {
    text-decoration: none;
    background-color: white;
    color: red;
    padding: 5px 20px;
    border: 1px solid red;
    transition: 0.6s ease;
  }
  ul li a:hover {
    background-color: red;
    color: white;
    text-decoration: none;
  }
  ul li.active a {
    background-color: red;
    color: white;
    transition: 0.6s ease;
  }
  ul li.active a:hover {
    text-decoration: none;
    color: red;
    padding: 5px 20px;
    border: 1px solid red;
    background: none;
  }
  #btn {
    border: 1px solid red;
    padding: 10px 30px;
    color: red;
    text-decoration: none;
    background-color: #ededed;
    outline: none;
    transition: 0.6s ease;
  }
  #btn:hover {
    background-color: red;
    color: #ededed;
    cursor: pointer;
    outline: none;
    transition: 0.6s ease;
    transform: scale(1.075);
  }
  center h1 {
    color: red;
  }
  #channel {
    color: white;
    background-color: #7289DA;
  }
  #editor-beret {
    background: #000000;
    width: 100px;
    height: 100px;
  }
</style>
